In [3]:
import nltk
import pandas as pd

In [4]:
TRAIN = pd.read_csv('../data.gi/train.csv')

In [5]:
TRAIN.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [6]:
# Create lookup table
lookup_df = TRAIN[['id', 'qid1', 'qid2', 'is_duplicate']]

In [7]:
# Separate q1 and q2 into respective dataframes
q1_df = TRAIN[['id', 'qid1', 'question1']]
q1_df.columns = ['pid', 'qid', 'question']
q2_df = TRAIN[['id', 'qid2', 'question2']]
q2_df.columns = ['pid', 'qid', 'question']

In [8]:
# Stack q1 and q2 dataframes, sort by pid/qid, and reindex
questions_df = pd.concat([q1_df, q2_df], ignore_index=True).sort_values(by=['pid', 'qid']).reset_index(drop=True)

In [9]:
questions_df.head()

   pid  qid                                           question
0    0    1  What is the step by step guide to invest in sh...
1    0    2  What is the step by step guide to invest in sh...
2    1    3  What is the story of Kohinoor (Koh-i-Noor) Dia...
3    1    4  What would happen if the Indian government sto...
4    2    5  How can I increase the speed of my internet co...